.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left:0;
    width:72px;
    bottom:0;
    top:55px;
    background-color: white;
    z-index: 200;
}
.sidebar-box{
    width:72px;
    height: 74px;
    justify-content: center;
    display: flex;    
    flex-direction: column;
    align-items: center;
    
    
}
.sidebar-box:hover{
    background-color: rgb(205, 203, 203);
}
.sidebar img{
    height:30px;
    margin-bottom: 1px;

}
.sidebar  div{    
    font-family: Roboto, Arial;
    font-size: 12px;
}